/* Partie Localisation */
.location {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: rgba(219, 215, 215, 0.462);
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;

    &__icon {
        margin-right: 1rem;
    }

    &__text {
        font-weight: 700;
    }
}

/* Fin de la partie Localisation */

/* Partie Description */
.description {
    padding: 1rem;
    text-align: center;
    height: 267px;
    background: #f8f5f5;

    .explorer_btn {
        margin-top: 2rem;
        border-radius: 23px;
        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
        padding: 0.9rem;
        color: #fff;
        cursor: pointer;
        position: relative;
        top: 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        box-shadow: 0.25rem 0.25rem 10px grey;
    }

    .explorer_btn:hover {
        transition-duration: 1000ms;
        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 60%);
        box-shadow: 0.50rem 0.50rem 10px grey;
    }
}

/* Partie Tutoriel*/
.tuto {
    padding: 2rem 1rem;

    &__container {
        position: relative;
    }

    &__title {
        margin-top: 0;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__step {
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        border-radius: 1.25rem;
        display: flex;
        position: relative;
        background-color: #f6f6f6;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(224, 223, 225);
        align-items: center;
    }

    &__number {
        font-size: 1rem;
        color: #fff;
        position: absolute;
        left: -10px;
        border-radius: 50%;
        background-color: #9356dc;
        width: 23px;
        height: 23px;
        text-align: center;
        padding-top: 2px;

    }

    &__icon {
        margin-right: 1rem;
        color: #7e7e7e;

    }
}

@media screen and (min-width: 1024px) {

    .tuto__steps {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tuto__step {
        width: 30%;
        padding: 20px 20px 20px 49px;
    }

    .tuto__title {
        text-align: center;
    }

}

/* Animation - Apparition des steps Tuto */
.step {
    animation: sequence 1s;
}

.step--1 {
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.step--2 {
    animation-delay: 150ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.step--3 {
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes sequence {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Partie Restaurants */
.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;

    .cards {
        position: relative;

        .card {
            background-color: #fff;
            border-radius: 1rem;
            position: relative;
            text-decoration: none;
            color: inherit;
            display: block;
            margin: 0 0 2rem 0;

            .card,
            img {
                height: 12rem;
                width: 100%;
                border: 0 solid transparent;
                border-radius: 1rem 1rem 0 0;
                box-shadow: none;
                object-fit: cover;
            }

            .card__logonew {
                background-color: #99e2d0;
                color: #008000;
                padding: 0.5rem;
                position: absolute;
                right: 0.75rem;
                top: 1rem;
                font-size: 0.75rem;
                font-weight: 600;
                border-radius: 0.175rem;
            }

            .card__footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;

                .card__description {
                    padding: 0;

                    h3 {
                        margin: 0 0 0.25rem 0;
                        font-size: 1.1rem;
                    }

                    .card__location {
                        margin: 0
                    }
                }

                .card__heart {
                    position: relative;

                    .card__like--bg {
                        position: absolute;
                        opacity: 0;
                        transition: 0.40s;
                        background: linear-gradient(#9356DC, #FF79DA);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &:hover {
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        min-width: 45%;
    }

    .restaurants__title {
        text-align: center;
    }
}

/* Fin de la partie Restaurants */

/* Animation du Loader Spinner */
/* Loader Général */
.fade-in-page {
    animation: whitepage 4.5s;
    position: relative;
}

@keyframes whitepage {
    0% {
        opacity: 0.025;
    }

    50% {
        opacity: 0.050;
    }

    100% {
        opacity: 1;
    }
}

.loader-spinner {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 50%;
    display: flex;
    animation: bars 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes bars {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Loader Barres */
.loader-bars::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #9356dc;
    animation: grow 1.5s linear infinite;
}

.loader-bars::after {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #99e2d0;
    animation: grow 1.5s linear -0.5s infinite;
}

.loader-bars span {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #ff79da;
    animation: grow 1.5s linear -1s infinite;
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    50% {
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}