/* Partie Localisation */
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 238, 238, 0.462);
}

.location p{
    font-size: 19px;
    font-weight: 600;
    padding-left: 15px;
}

.location i{
    padding-bottom: 3.5px;
}